@model aspnet_get_started.Controllers.EfsmAccountRequest
@{
    ViewBag.Title = "Create EFSM Account - FL WINS";
}

<section class="form-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-header text-center">
                    <h1>Create Your EFSM Account</h1>
                    <p class="lead">Connect with enterprise financial system management services tailored to your workforce development goals.</p>
                </div>
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="glyphicon glyphicon-user-plus"></i> Account Information
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            Please complete the form below to create your EFSM account. This information helps us match you with the most relevant services and programs.
                            Fields marked with <span class="text-danger">*</span> are required.
                        </div>

                    @using (Html.BeginForm("CreateEfsmAccount", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, "First Name *", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter your first name", required = "required" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, "Last Name *", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter your last name", required = "required" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, "Email Address *", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Enter your email address", required = "required" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone, "Phone Number", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", type = "tel", placeholder = "Enter your phone number" })
                                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Organization, "Organization *", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Organization, new { @class = "form-control", placeholder = "Enter your organization name", required = "required" })
                                @Html.ValidationMessageFor(m => m.Organization, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.JobTitle, "Job Title", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control", placeholder = "Enter your job title" })
                                @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="CommonIntakeForm">Common Intake Form *</label>
                            <div class="col-md-9">
                                <select id="CommonIntakeForm" name="CommonIntakeForm" class="form-control" required>
                                    <option value="">Select Intake Form</option>
                                    <option value="standard">Standard Intake Form</option>
                                    <option value="expedited">Expedited Processing Form</option>
                                    <option value="renewal">Account Renewal Form</option>
                                    <option value="transfer">Account Transfer Form</option>
                                    <option value="special">Special Circumstances Form</option>
                                </select>
                                <span class="help-block">Choose the form that best matches your request.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.RequestType, "Request Type *", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.RequestType, new SelectList(new[]
                                {
                                    new { Value = "", Text = "Select Request Type" },
                                    new { Value = "NewAccount", Text = "New Account Request" },
                                    new { Value = "ServiceRequest", Text = "Service Request" },
                                    new { Value = "DataAccess", Text = "Data Access Request" },
                                    new { Value = "Training", Text = "Training Access" },
                                    new { Value = "Other", Text = "Other" }
                                }, "Value", "Text"), new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.RequestType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Comments, "Additional Comments", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", rows = "4", placeholder = "Enter any additional comments or special requirements" })
                                @Html.ValidationMessageFor(m => m.Comments, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    <i class="glyphicon glyphicon-send"></i> Create Account & Connect
                                </button>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary btn-lg">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Back to Home
                                </a>
                            </div>
                        </div>
                    }
                    
                    <div class="form-help">
                        <h4>Need Help?</h4>
                        <p>Our team is here to assist you Monday–Friday, 8 AM–5 PM</p>
                        <p><strong>Phone:</strong> 1-877-879-1243</p>
                        <p><strong>Available in:</strong> English, Spanish, and Haitian Creole</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}